*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.hero{
    height: 100vh;
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    padding: 20px 150px 30px;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 120px;
}

.header-left span{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
.nav ul li a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn-login{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background: none;
    border: none;
    padding: 12px 20px ;
    border-radius: 8px;
    cursor: pointer;
}

.btn-join{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: tomato;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid tomato;
    padding: 12px 20px ;
    border-radius: 8px;
    cursor: pointer;
}

.btn-join:hover{
    background: none;
    transition: all 0.5s;
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 40px;
}

.texts span{
    color: rgb(247, 190, 46);
    font-weight: 600;
}

.texts h1{
    width: 542px;
    color: #fff;
    -webkit-text-stroke: 1px black; 
    font-size: 64px;
    text-align: center;
}

.texts p{
    color: #fff;
    font-weight: 200;
    font-size: 18px;
}

.texts button{
    background-color: tomato;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid tomato;
    padding: 12px 32px;
    border-radius: 8px;
    cursor: pointer;
}


.texts button:hover{
    background: none;
    transition: all 0.5s;
}



@media only screen and (max-width: 480px) {
    #header{
        padding: 10px;
    }
    .header-left span{
        font-size: 16px;
    }

    .nav{
        display: none;
    }

    .header-right{
        gap: 15px;
    }

    .btn-join{
        padding: 6px 10px ;
        font-size: 14px;
    }

    .btn-login{
        font-size: 14px;
    }

    .hero{
        background-position: center;
    }

    .texts h1{
        width: 100%;
        font-size: 48px;
    }

    .texts p{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}


